{% extends "base.html" %}
{% block content %}
<div class="container">

	<h1>Create a new tournament</h1>
	<form action="" method="post">
		{% csrf_token %}
		<div class="form-group">
			<label for="tournament_name">Name</label>
			<input type="text" class="form-control" id="tournament_name">
		</div>
		<div class="form-group">
			<label for="tournament_players">Players</label>
			<select multiple class="form-control">
				{% for choice in form.players.field.choices %}
				<option value="{{ choice.0 }}">{{ choice.1 }}</option>
				{% endfor %}
			</select>
		</div>
		<button type="submit" class="btn btn-default">Start Tournament</button>
	</form>

</div>
{% endblock %}
