{% extends "base.html" %}
{% block content %}
<div class="container">
    <p><a class="btn btn-primary btn" href="{% url 'core_tournament_create' %}" role="button">Create New Tournament &raquo;</a></p>
	<ul>
	{% for object in object_list %}
	<li>
		<a href="{% url 'core_tournament_results' object.id %}" name="object.tournament_definition.name">{{ object.tournament_definition.name }}</a> ({{ object.last_updated }} - {{ object.get_status_display }})
	</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
