{% extends "base.html" %}
{% block content %}
<div class="container">

	<table class="table">
	<tr><th>Name</th><td>{{ object.tournament_definition.name }}</td></tr>
	<tr><th>Players</th><td>{{ object.tournament_definition.players }}</td></tr>
	<tr><th>Created</th><td>{{ object.created|timesince }} ago</td></tr>
	<tr><th>Status</th><td>{{ object.get_status_display }}</td></tr>
	</table>

	<div class="tournament_results_vis" data-tournament-results-url="{{ tournament.get_results_url }}"></div>
</div>
{% endblock %}
