{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-1"><strong>Name</strong></div><div class="col-xs-10">{{ object.tournament_definition.name }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1"><strong>Turns</strong></div><div class="col-xs-1">{{ object.tournament_definition.turns }}</div>
        <div class="col-xs-1"><strong>Repetitions</strong></div><div class="col-xs-1">{{ object.tournament_definition.repetitions }}</div>
        <div class="col-xs-1"><strong>Noise</strong></div><div class="col-xs-1">{{ object.tournament_definition.noise }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1"><strong>Created</strong></div><div class="col-xs-3">{{ object.created|timesince }}</div>
        <div class="col-xs-1"><strong>Status</strong></div><div class="col-xs-1">{{ object.get_status_display }}</div>
    </div>
    <div class="row">
        <div class="col-xs-4"><a href="{% url 'core_tournament_results' object.id %}">Raw results data</a></div>
    </div>
</div>

<div class="container tournament_results_vis">
	<div class="tournament_results_vis" data-tournament-results-url="{{ tournament.get_results_url }}"></div>
</div>
{% endblock %}
